name: Build Angular App

on:
  push:
    branches: [ main ]

jobs:

  # Job 1
  build-angular:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node JS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: dist


  # Job 2
  job2:
    runs-on: ubuntu-latest

    steps:
      - name: Test
        run: echo "test step by job2"


  # Job 3
  deploy-angular:
    runs-on: ubuntu-latest

    needs:
      - build-angular
      - job2
    
    if: always()

    steps:
      - name: Deploy Test
        run: echo "Deploy job running..."
